/* ---------------------variable--------------------- */
:root {
  --main-text-color: #212121;
  --additional-text-color: #757575;
  --brand-color: #2196f3;
  --hover-color: #2196f3;
  --bgc-total: #2f303a;
  --bgc-additional: #ffffff;
  --bgc-button-portfolio: #f5f4fa;
}
/* ---------------------general rules--------------------- */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.container {
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  /* ------- Временное условие для верстки ----- */
  /* outline: 1px solid red; */
}

/* ---------------------header styles--------------------- */

.header {
  border-bottom: 1px solid #eeeeee;
}

.main-header {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-text-color);
}
.header-logo {
  display: block;
  margin-right: 93px;
}
.nav-list {
  display: flex;
}
.nav-item {
  position: relative;
}

.nav-item-link {
  display: block;
  padding-top: 32px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item-link:hover,
.nav-item-link:focus {
  color: var(--hover-color);
}

/* подчеркивание на текущей странице  */
.current-link {
  color: var(--hover-color);
  border-bottom: 4px solid var(--hover-color);
}

/* подчеркивание по ховеру  */
.nav-item-link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 4px;
  background-color: rgba(0, 0, 0, 0);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item-link:hover::after {
  background-color: var(--hover-color);
}
.nav-item + .nav-item {
  margin-left: 50px;
}
.contact-list {
  display: flex;
  margin-left: auto;
}
.contact-item + .contact-item {
  margin-left: 50px;
}
.contact-item {
  display: flex;
  justify-content: right;
  align-items: center;
  border: 1px;
}

.contact-item-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--additional-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-item-link:hover,
.contact-item-link:focus {
  color: var(--hover-color);
}
.icon-envelope {
  margin-right: 10px;
  width: 16px;
  height: 12px;

  fill: currentColor;
}
.icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
/* ---------------------main styles--------------------- */
.hiden {
  opacity: 0;
  font-size: 0px;
  line-height: 0px;
  display: none;
  color: transparent;
  visibility: hidden;
  overflow: hidden;
  width: 0px;
  height: 0px;
}

/* ---------------------hero--------------------- */
.hero {
  margin: 0px auto;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-optimized.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
}

.div-hero {
  text-align: center;
}

.hero-title {
  margin: 0px auto;

  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;

  color: var(--bgc-additional);
}
.hero-button {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--brand-color);
  color: var(--bgc-additional);
  cursor: pointer;
  text-align: center;
}

.button-portfolio:focus {
  border-color: var(--bgc-total);
}

/* ---------------------advantages styles--------------------- */
.studio-advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.studio-advantages-list {
  display: flex;
}

.studio-advantages-title {
  display: inline-block;
  margin: 0px auto;
  margin-bottom: 10px;

  color: var(--main-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.studio-advantages-item {
  width: 270px;
  margin-right: 30px;
}
.studio-advantages-item:last-child {
  margin-right: 0px;
}
.studio-adnvatages-icons {
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 100px;
  padding-left: 100px;
  text-align: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantages-icon {
  width: 70px;
  height: 70px;
}

.studio-advantages-desctiption {
  margin: 0px auto;

  font-size: 14px;
  line-height: 1.71;
  color: var(--additional-text-color);
  letter-spacing: 0.03em;
}

/* ---------------------What We Do (WWD)--------------------- */
.wwd-main {
  padding-bottom: 94px;
}

.wwd-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--main-text-color);
  margin-bottom: 50px;
  text-align: center;
}
.wwd-list {
  display: flex;
  justify-content: space-between;
}
.wwd-item-thumb {
  position: relative;
}

.wwd-item-text {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
/* ---------------------our team--------------------- */

.our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team-title {
  display: block;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-text-color);
}
.team-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-names {
  margin-bottom: 10px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
.team-positions {
  margin-bottom: 16px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--additional-text-color);
}
.team-social-list {
  display: flex;
  justify-content: center;
}
.team-social-item {
  width: 44px;
  height: 44px;
}
.team-social-item + .team-social-item {
  margin-left: 10px;
}
.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  fill: #afb1b8;
}

.team-social-link:hover,
.team-social-link:focus {
  outline: none;
  background-color: #2196f3;
  fill: white;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------------------PORTFOLIO--------------------- */
.projects-photo {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-btn-title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn-item + .portfolio-btn-item {
  margin-left: 8px;
}

.btn-portfolio {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border: none;
  border-radius: 4px;

  color: var(--main-text-color);
  background-color: var(--bgc-button-portfolio);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-portfolio:focus,
.btn-portfolio:hover {
  background-color: var(--hover-color);
  color: var(--bgc-additional);
  outline: none;
}

.images-studio {
  display: flex;
  flex-wrap: wrap;
}

.images-item:hover {
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}

.images-item {
  position: relative;
  margin-right: 30px;
}
.images-item:nth-child(3n) {
  margin-right: 0px;
}

.images-item:nth-child(-n + 6) {
  margin-bottom: 30px;
}
.images-thumb {
  display: block;
  position: relative;
  overflow: hidden;
}

.images-thumb-text {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;

  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--bgc-additional);
  background-color: rgba(33, 150, 243, 0.9);
}

.images-item:hover .images-thumb-text,
.images-border {
  transform: translateY(0);
  opacity: 1;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.images-border {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  box-shadow: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  color: var(--main-text-color);
}
.projects-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--additional-text-color);
}
/* ---------------------CLIENTS--------------------- */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
.clients-header {
  display: inline-block;
  margin-bottom: 50px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  color: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.clients-item ~ .clients-item {
  margin-left: 30px;
}
.clients-link:focus {
  outline: none;
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--hover-color);
  color: var(--hover-color);
}

/* ---------------------FOOTER STYLES--------------------- */

.footer-bgc {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bgc-total);
}
.footer-main {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
}
.logo-web {
  display: inline-block;
  color: var(--brand-color);
}
.footer-studio {
  color: var(--bgc-additional);
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--bgc-additional);
}
.footer-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.footer-middle {
  margin-left: 70px;
}
.footer-middle-title {
  display: inline-block;
  margin-bottom: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--bgc-button-portfolio);
}
.footer-middle-list {
  display: flex;
  justify-content: center;
}
.footer-middle-item {
  width: 44px;
  height: 44px;
}
.footer-middle-item + .footer-middle-item {
  margin-left: 10px;
}
.footer-middle-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: var(--bgc-button-portfolio);
}
.footer-middle-link:hover,
.footer-middle-link:focus {
  background-color: #2196f3;
  outline: none;
}
.footer-middle-link:hover .footer-middle-icon,
.footer-middle-link:focus .footer-middle-icon {
  fill: var(--bgc-button-portfolio);
}
.footer-subscribe {
  margin-left: 93px;
  fill: black;
}
.user-email-label {
  display: block;
  margin-bottom: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--bgc-button-portfolio);
}

.user-email-input {
  width: 360px;
  height: 50px;
  margin-right: 12px;
  padding: 15px;

  color: var(--bgc-button-portfolio);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--bgc-total);
}
.button-subscribe {
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 62px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--brand-color);
  color: var(--bgc-additional);
  cursor: pointer;
  text-align: center;
}
.button-subscribe-main {
  position: relative;
  display: flex;
  text-align: center;
}
.button-subscribe-svg {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-130%, 50%);

  fill: var(--bgc-button-portfolio);
}

/* ---------------------MODAL--------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 500ms;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: none;
  pointer-events: none;
}
.modal-main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-link {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-close-link:hover .modal-close-icon {
  fill: var(--hover-color);
}

.modal-close-icon {
  position: absolute;
  top: 5px;
  right: 5px;

  width: 18px;
  height: 18px;
}

.modal-user-title {
  display: block;
  margin-bottom: 12px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

.lable {
  display: block;
  margin-bottom: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: #757575;
}
.input-container {
  margin-bottom: 10px;
}
.input-container:last-child {
  margin-bottom: 20px;
}
.input-wrap {
  position: relative;
}
.input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 30px;
  margin-bottom: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.15px;
  letter-spacing: 0.03em;

  color: #212121;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.input:hover,
.input:focus,
.user-comments-area:hover,
.user-comments-area:focus {
  border: 1px solid var(--hover-color);
  border-radius: 4px;
}
.input-wrap:hover .input-icon {
  fill: var(--hover-color);
}
.input:focus + .input-icon {
  fill: var(--hover-color);
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--main-text-color);
}
.user-comments-area {
  width: 100%;
  height: 120px;
  resize: none;

  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-checkbox {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.icon-vector {
  position: absolute;
  top: 0;
  transform: translateY(20%);
  z-index: 1;
  border-radius: 2px;
}
.icon-border {
  position: absolute;
  top: 0;
  transform: translateY(20%);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
}
.accept {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: var(--additional-text-color);
}
.input-check {
  position: absolute;
}
.icon-vector {
  width: 16px;
  height: 16px;
  fill: transparent;
}
.input-check:checked + .icon-border {
  background-color: #2196f3;
  border: none;
}
.input-check:checked + .icon-vector {
  background-color: #2196f3;
  fill: #ffffff;
}
.policy-text {
  padding-left: 25px;
}
.policy {
  margin-left: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: (24 / 14);
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: var(--hover-color);
}
.button-modal-send {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: (30 / 16);
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
