.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits__wrap {
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 100px;
  padding-left: 100px;
  text-align: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.benefits__title {
  margin-bottom: 10px;

  @include font("Roboto", normal, 700, 14px, 1.17, 0.03em);
  color: var(--main-text-color);
}
.benefits__item {
  width: 270px;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__desctiption {
  text-align: start;

  @include font("Roboto", normal, 400, 14px, 1.71, 0.03em);
  color: var(--additional-text-color);
}
